.mainContainer{
    display: flex;
    flex-direction: column;
    width: 395px ; 
    margin: 1rem .5rem 3rem 4rem;
    flex-wrap: wrap;
}


.containerOne{
    width:391px;
    height: 265px; 
}

.containerOne > img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 24px;
}

.containerTwo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.containerThree{
    display: flex;
    flex-direction: row;
    gap: .4rem;
    padding-right: 5px ;
}

/* selectores puros */

.grey{
    font-family: 'Montserrat', sans-serif;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    margin: .8rem 0 .2rem 0;
}

.greyTwo{
    font-family:'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #333 ;
    margin-top: .5rem;
}

.type{
    border-radius: 12px;
    border: 1px solid black;
    margin: .8rem 0 .2rem 0;
    padding: 4px;
    font-size: 12px;
    font-weight: 600;
}

.rango{
    margin: .8rem .2rem .2rem 0;
}